/*パソコン(pc)画面*/
body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
  text-align: center;
  background-color: white; /* PC背景色 */
  color: #333;
}

.h1 {
  font-size: 32px;
  color: white;
}

main {
  padding-top: 120px;   /* ヘッダーの高さ分 */
  padding-bottom: 80px; /* フッターの高さ＋余裕 */
}