/* 共通スタイル */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
  text-align: center;
  background-color: #18a10e; /* PC背景色 */
  color: #333;
}

h1 {
  font-size: 32px;
}

/* スマホ表示用（768px以下） */
@media screen and (max-width: 768px) {
  body {
    background-color: #730d2f; /* スマホ背景色 */
    color: #444;
  }

  h1 {
    font-size: 24px;
  }
}