/*PC画面制御*/
@import url(pc_style.css);
/*スマホ画面制御*/
@import url(sp_style.css);

/*共通スタイル*/

/*ヘッダー設定*/
.header-row1{
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: space-between; /* 左右に配置 */
    align-items: center;            /* 垂直方向中央揃え */
    background-color: #3186cc;

    color: white;
}

.header-left,
.header-center,
.header-right {
    flex: 1;
}

.header-left {
    text-align: left;
    padding-top: 5px;
    padding-left: 20px;
}


.header-center {
    text-align: center;
}

.header-right {
    text-align: right;
}

.menue-list{
    text-align: center;
}
.menue-list li {
    display: inline;
    margin-right: 20px; /* 間隔を調整 */
}


